html {
    min-height: 100vh
}
body {
    min-height: 100vh;
    margin: 0;
}

#back {
    position: absolute;
}

.card {
    position: relative;
    margin: auto;
    display: flex;
    top: 45vh;
    width: 500px;
    justify-content: center;
    border:1px solid black;
    background: rgb(7, 7, 7);
    color: rgb(255, 255, 255);
}

.card__title {
    font-size: 2rem;
    font-weight: bolder;
}

.card:hover {
    background: white;
    color:black;
}

