html {
    min-height: 100vh
}
body {
    min-height: 100vh;
    margin: 0;
    background: "black"
}

#back {
    position: absolute;
}

.card {
    position: relative;
    margin: auto;
    display: flex;
    top: 45vh;
    width: 500px;
    justify-content: center;
    background: rgba(7, 7, 7, 0);
    color: rgb(255, 255, 255);
}

.card__title {
    font-size: 2rem;
    font-weight: bolder;
}


#play {
    background: rgb(255, 255, 255);
    color:rgb(253, 13, 13);
    cursor: pointer;
}

#play:hover{
    background: rgba(32, 32, 32, 0);
    color: rgb(175, 175, 175);
}

.hide{
    display: none;
}
